/* 

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400

- Line heights:
Default: 1

--- 02 COLORS

- Primary: #e67e22
- Tints:
- Shades:
- Accents:
- Greys:
#555

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/**************************/
/* HERO SECTION */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.4rem;
  height: 9.6rem;
  position: relative;
}

.logo {
  font-size: 1.8rem;
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.8rem;
}

.main-nav-link {
  text-decoration: none;
}

.primary-header {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  font-weight: 700;
}

.hero-section {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 9.6rem;
  margin-top: 6.4rem;
}

.img-fluid {
  max-width: 100%;
}

.hero-section-text {
  font-size: 1.6rem;
  line-height: 1.6;
}
